

 .box {
   background-color: white;
   width: 1rem;
   height: 1rem;
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .board {
   display: grid;
   grid-template-columns: repeat(20, 1fr);
   margin-bottom: 2rem;
   gap: 0;

 }



   @media (min-width: 300px) {
      .box {
         width: 1rem;
         height: 1rem;
      }
    }
    @media (min-width: 600px) {
      .box {
         width: 1.8rem;
         height: 1.8rem;
      }
    }
    @media (min-width: 993px) {
      .box {
         width: 1.5rem;
         height: 1.5rem;
      }
      .board {
         height: max-content;

      }
   }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
