

 .box {
   background-color: white;
   width: 22px;
   height: 22px;
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .board {
   display: grid;
   grid-template-columns: repeat(20, 22px);
   padding-left: 2rem;
   margin-bottom: 2rem;
 }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

